* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

/* element panel rows */
.ep-row:hover {
    background: rgba(255, 255, 255, .1);
}
.ep-sel {
    background: rgba(100, 180, 255, .25);
}
